* {
  margin: 0;
  padding: 0;
}

body {
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(168, 169, 182);
}

model-viewer {
  width: 90%;
  height: 90%;
  margin: auto;
  background: rgb(168, 169, 182);
}

.Hotspot {
  cursor: pointer;
  border-radius: 50%;
  /* padding: 100px; */
  width: 64px;
  height: 64px;
  background: none;
  border: solid white 8px;
  transition: border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.Hotspot:hover {
  border-color: rgb(152, 178, 199);
  transform: scale(1.2);
}

.panel {
  padding: 20px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  background-color: rgba(32, 44, 64, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
}
.section {
  margin-bottom: 20px;
}
.btn-close {
  cursor: pointer;
}
.title {
  color: #027bb7;
  margin-bottom: 10px;
}
.iframe {
  width: 100%;
}
.panel--england {
  display: none;
  opacity: 0;
}
.panel--australia {
  display: none;
  opacity: 0;
}

.panel--us {
  display: none;
  opacity: 0;
}
